.header {
  font-size: 200%;
  text-align: center;
  padding: 20px;
}
/*set up for the header */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 700px;
  width: 40%;
  height: 40%;
  z-index: -1;
}
/*set up for the image, most important being the z-index */

.text1 {
  border: 2px solid black;
  position: relative;
  left: 765px;
  bottom: 1100px;
  z-index: 2;
}

.text2 {
  border: 2px solid black;
  position: relative;
  left: 575px;
  bottom: 675px;
  z-index: 2;
}

.text3 {
  border: 2px solid black;
  position: relative;
  left: 60px;
  bottom: 900px;
  z-index: 2;
}
/*Simple changes to the text box and more importantly its positioning. The large blank space at the bottom of the page is a ugly scar of the countless failed experiments I had tried to add to the webpage */

button {
  z-index: 2;
  position: relative;
  left: 700px;
  bottom: 1100px;
}
/*positioning for the button*/

.a {
  position: relative;
  left: 945px;
  top: 275px;
  z-index: 2;
  font-style: italic;
}

.b {
  position: relative;
  left: 1250px;
  top: 350px;
  z-index: 2;
  font-style: italic;
}

.c {
  position: relative;
  left: 945px;
  top: 550px;
  z-index: 2;
  font-style: italic;
}

.d {
  position: relative;
  left: 650px;
  top: 250px;
  z-index: 2;
  font-style: italic;
}

.h {
  position: relative;
  left: 750px;
  top: 250px;
  z-index: 2;
  font-style: italic;
}
/*positioning and formatting for the letters of the shape so the user understood what values to input where */

#para {
  position: relative;
  left: 945px;
  top: 200px;
  font-size: 200%;
  font-style: bold;
  font-family: 'Courier New', Courier, monospace;
  z-index: 5;
}
/*Formatting and Placement for the equation and final answer.*/